@import '../../assets/styles/colors.style.scss';

.app-nav {
    width: 80vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}