$basic-font: #EFEFEF;
$active-font: #F66B0E;
$error-font: red;

$basic-color: #112B3C;
$basic-color-2: #F66B0E;
$basic-color-3: #205375;
$basic-color-4: #EFEFEF;

$cover-color: rgba(200, 200, 200, 0.8)