@import './colors.style.scss';

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

%link-btn {
    color: $active-font;
    padding: 10px 15px;
    font-size: 1.15rem;
    font-weight: 550;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 1s all ease-out;

    &:hover {
        cursor: pointer;
        background-color: $basic-color-3;
    }
}

%header {
    color: $active-font;
    letter-spacing: 10px;
    text-transform: uppercase;
}

%main-container {
    @extend .flex-column;
    width: 100%;
    justify-content: flex-start;
    gap: 100px;
    margin-bottom: 200px;
}

%minor-container {
    @extend .flex-column;
    position: relative;
    width: 80%;
    padding: 20px;
    border: 1px solid $basic-color-4;

    button {
        @extend %link-btn;
        font-size: 1rem;
        padding: 5px;
    }

    p {
        color: $basic-color-2;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 2px solid $basic-color-4;
    }
}

%minor-header {
    @extend .flex;
    position: absolute;
    top: -90px;
    left: -25px;
    height: 50px;
    max-width: 100px;
    color: $basic-color;
    background-color: $basic-color-2;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 2px 2px 20px 2px;
}