.hook-state {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}