@import '../../assets/styles/elemets.style.scss';

.nev-user {
    @extend .flex;
    gap: 10px;

    .nev-user-data {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px 10px;
        column-gap: 20px;
        border: 2px solid $basic-color-2;
        border-radius: 5px;

        span {
            &:nth-child(odd) {
                text-align: right;
            }

            &:nth-child(even) {
                text-align: left;
            }
        }

    }

    button {
        @extend %link-btn;
        border: none;
        background-color: transparent;
    }
}

.nav-user-link {
    a {
        @extend %link-btn;
    }
}