@import '../../assets/styles/colors.style.scss';

$size: 100px;

.loading-container {
    background-color: $cover-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
        content: "";
        height: $size;
        width: $size;
        border: 16px solid $basic-color;
        border-top: 16px solid $basic-color-2;
        border-radius: 50%;
        animation: rotateAnimation 2s linear infinite;
    }

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}